body {
    font-family: arial;
    font-size: 8pt;
}

table{
    font-family: arial;
    font-size: 8pt;
}

.selected{
    background-color: yellowgreen!important; 
}

.hidden{
    visibility: hidden;
}

.images-col{
    width: 60px;
    border-right: dotted 1px;
    display: inline-block;
}
.rels-col{
    width: 300px;
    border-right: dotted 1px;
    display: inline-block;
}
.image-col{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}
.im-row, .rel-row{
    background-color: khaki;
    margin-bottom: 1px;
    cursor: pointer;
}
.rel-row{
    margin-bottom: 7px;
}

.phrase{
    color: white;
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
    display: inline-block;
}
.sp{
    background-color: yellowgreen;    
}
.lm{
    background-color: firebrick;        
}
.tr{
    background-color:cornflowerblue;            
}
.page-height{
    height: 500px;  
}
.scroll{
    overflow-y: scroll;
}
