.DS_Store
data
*/data
*/twitter
.idea
/RUNNING_PID
*/logs/
/project/*-shim.sbt
/project/project/
*/target/
target/
/models
.projectFilesBackup
annotation-cache/
/config
*.lc
*.lex
*~
*/*.swp
*.swp
*.class
*.log
gurobi.ilp
gurobi.lp
